#secondParagraph {
    background-color: black;
}
.commonParagraph {
    text-decoration: underline;
    font-size: 24px;

}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

ul {
    list-style: none;
}
a:hover {
    color: blue;
}